/*
	@name election_page_ui_display
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1920px; height: 5244px; margin-left: auto; margin-right: auto;  }

#_bg__election_page_ui_display {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 5244px;
	background:rgba(255,255,255,255);
}


#logo {
	top: 0px;
	left: 529px;
	width: 817px;
	height: 459px;
}


#gymkhana_elections_2020 {
	top: 425px;
	left: 602px;
	width: 677px;
	height: 81px;
	font-family: Avenir LT Std;
	font-size: 58px;
	text-align: left;
	color:#000000;
}


#rectangle_6 {
	top: 755px;
	left: 92px;
	width: 1728px;
	height: 702px;
	-ms-border-radius: 71px;
	-o-border-radius: 71px;
	-moz-border-radius: 71px;
	-webkit-border-radius: 71px;
	border-radius: 71px;
	background:rgba(241,241,241,255);
}


#rectangle_7 {
	top: 1570px;
	left: 96px;
	width: 1728px;
	height: 693px;
	-ms-border-radius: 71px;
	-o-border-radius: 71px;
	-moz-border-radius: 71px;
	-webkit-border-radius: 71px;
	border-radius: 71px;
	background:rgba(241,241,241,255);
}


#rectangle_8 {
	top: 2385px;
	left: 96px;
	width: 1728px;
	height: 692px;
	-ms-border-radius: 71px;
	-o-border-radius: 71px;
	-moz-border-radius: 71px;
	-webkit-border-radius: 71px;
	border-radius: 71px;
	background:rgba(241,241,241,255);
}


#rectangle_9 {
	top: 3200px;
	left: 96px;
	width: 1728px;
	height: 698px;
	-ms-border-radius: 71px;
	-o-border-radius: 71px;
	-moz-border-radius: 71px;
	-webkit-border-radius: 71px;
	border-radius: 71px;
	background:rgba(241,241,241,255);
}


#rectangle_10 {
	top: 4015px;
	left: 96px;
	width: 1728px;
	height: 708px;
	-ms-border-radius: 71px;
	-o-border-radius: 71px;
	-moz-border-radius: 71px;
	-webkit-border-radius: 71px;
	border-radius: 71px;
	background:rgba(241,241,241,255);
}


#sophomore_year_positions {
	top: 654px;
	left: 324px;
	width: 586px;
	height: 66px;
	font-family: Avenir LT Std;
	font-size: 47px;
	text-align: left;
	color:#006dff;
}


#v_p__gymkhana {
	top: 654px;
	left: 1233px;
	width: 330px;
	height: 66px;
	font-family: Avenir LT Std;
	font-size: 47px;
	text-align: left;
	color:#000000;
}

#grid_1 {
	top: 802px;
	left: 145px;
	width: 1641px;
	height: 4017px;
	overflow:hidden;
}
#grid_1_ek1 {
	top: 0px;
	left: 0px;
	width: 1641px;
	height: 585px;
}

#hosca_secretary {
	top: 0px;
	left: 9px;
	width: 315px;
	height: 55px;
	font-family: Avenir LT Std;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#person1 {
	top: 105px;
	left: 0px;
	width: 300px;
	height: 480px;
}

#rectangle_5 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#high_fashion_model_metallic_silver_260nw_1197309358 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person2 {
	top: 105px;
	left: 1341px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek1 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#model_david_gandy_walks_the_runway_during_the_dolce_gabbana_news_photo_1586793544 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek1 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek1 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek1 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person3 {
	top: 104px;
	left: 450px;
	width: 300px;
	height: 480px;
}

#_rectangle_5_ek2 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek2 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#bella_hadid {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek2 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek2 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek2 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person4 {
	top: 104px;
	left: 906px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek3 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek3 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#_1571042540_model_1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek3 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek3 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek3 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#grid_1_ek2 {
	top: 813px;
	left: 0px;
	width: 1641px;
	height: 585px;
}

#tehnical_secretary {
	top: 0px;
	left: 9px;
	width: 328px;
	height: 55px;
	font-family: Avenir LT Std;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#person1_ek1 {
	top: 105px;
	left: 0px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek4 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek4 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#high_fashion_model_metallic_silver_260nw_1197309358_ek1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek4 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek4 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek4 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person2_ek1 {
	top: 105px;
	left: 1341px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek5 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek5 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#model_david_gandy_walks_the_runway_during_the_dolce_gabbana_news_photo_1586793544_ek1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek5 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek5 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek5 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person3_ek1 {
	top: 104px;
	left: 450px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek6 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek6 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#bella_hadid_ek1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek6 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek6 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek6 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person4_ek1 {
	top: 104px;
	left: 906px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek7 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek7 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#_1571042540_model_1_ek1 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek7 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek7 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek7 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#grid_1_ek3 {
	top: 1626px;
	left: 0px;
	width: 1641px;
	height: 585px;
}

#welfare_secretary {
	top: 0px;
	left: 9px;
	width: 321px;
	height: 55px;
	font-family: Avenir LT Std;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#person1_ek2 {
	top: 105px;
	left: 0px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek8 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek8 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#high_fashion_model_metallic_silver_260nw_1197309358_ek2 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek8 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek8 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek8 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person2_ek2 {
	top: 105px;
	left: 1341px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek9 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek9 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#model_david_gandy_walks_the_runway_during_the_dolce_gabbana_news_photo_1586793544_ek2 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek9 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek9 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek9 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person3_ek2 {
	top: 104px;
	left: 450px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek10 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek10 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#bella_hadid_ek2 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek10 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek10 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek10 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person4_ek2 {
	top: 104px;
	left: 906px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek11 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek11 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#_1571042540_model_1_ek2 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek11 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek11 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek11 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#grid_1_ek4 {
	top: 2439px;
	left: 0px;
	width: 1641px;
	height: 585px;
}

#sports_secretary {
	top: 0px;
	left: 9px;
	width: 299px;
	height: 55px;
	font-family: Avenir LT Std;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#person1_ek3 {
	top: 105px;
	left: 0px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek12 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek12 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#high_fashion_model_metallic_silver_260nw_1197309358_ek3 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek12 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek12 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek12 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person2_ek3 {
	top: 105px;
	left: 1341px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek13 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek13 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#model_david_gandy_walks_the_runway_during_the_dolce_gabbana_news_photo_1586793544_ek3 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek13 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek13 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek13 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person3_ek3 {
	top: 104px;
	left: 450px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek14 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek14 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#bella_hadid_ek3 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek14 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek14 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek14 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person4_ek3 {
	top: 104px;
	left: 906px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek15 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek15 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#_1571042540_model_1_ek3 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek15 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek15 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek15 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#grid_1_ek5 {
	top: 3252px;
	left: 0px;
	width: 1641px;
	height: 585px;
}

#mess_secretary {
	top: 0px;
	left: 9px;
	width: 276px;
	height: 55px;
	font-family: Avenir LT Std;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#person1_ek4 {
	top: 105px;
	left: 0px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek16 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek16 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#high_fashion_model_metallic_silver_260nw_1197309358_ek4 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek16 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek16 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek16 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person2_ek4 {
	top: 105px;
	left: 1341px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek17 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek17 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#model_david_gandy_walks_the_runway_during_the_dolce_gabbana_news_photo_1586793544_ek4 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek17 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek17 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek17 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person3_ek4 {
	top: 104px;
	left: 450px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek18 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek18 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#bella_hadid_ek4 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek18 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek18 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek18 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}

#person4_ek4 {
	top: 104px;
	left: 906px;
	width: 300px;
	height: 480px;
}

#rectangle_5_ek19 {
	top: 385px;
	left: 73px;
	width: 155px;
	height: 95px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background:rgba(54,186,139,255);
}

#group_1_ek19 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 327px;
}

#_1571042540_model_1_ek4 {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}


#rectangle_4_ek19 {
	top: 260px;
	left: 0px;
	width: 291px;
	height: 67px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	background:rgba(0,109,255,255);
}


#vote_ek19 {
	top: 418px;
	left: 108px;
	width: 91px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}


#shivanshu_ek19 {
	top: 271px;
	left: 73px;
	width: 152px;
	height: 46px;
	font-family: Avenir LT Std;
	font-size: 33px;
	text-align: left;
	color:#ffffff;
}



/* Add your custom CSS here */
